{% extends "base.html" %}
{% load static %}
{% load ratings %}
{% block base_head %} 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
		.checked {
		    color: orange;
		}
		</style>
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<div class='container'>
	<div class='row'>
		<div class='col-sm-4'>
	<h2><b>{{ object.title }}</b> <br/></h2>
	{% if object.image %}
	<img src='{{ object.image.url }}' class='img-fluid' width="460" height="750"/> <br/>
	{% endif %}
			
	
</div>
	<div class='col-sm-8'>
	<br/><br/>{{ object.description|linebreaks }} <br/>
	{% include 'products/snippets/update-cart.html' with product=object cart=cart %}
	<br/>
		<!-- test -->
		
		<div class="row">
			<div class="col-sm-6">
				{% ratings object %}
			</div>
			<hr>
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=object.pk %}">Add comment</a>
				{% for comment in products.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
		</div>			
		
		<div class="row">
			<div class="col-sm-12">
				<hr/>
				<div class="review-block">
					<div class="row">
						<div class="col-sm-3">
							<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
							<div class="review-block-name"><a href="#">nktailor</a></div>
							<div class="review-block-date">January 29, 2016<br/>1 day ago</div>
						</div>
						<div class="col-sm-8">
							<div class="review-block-rate">
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star" aria-hidden="true"></span>
								</button>
							</div>
							<div class="review-block-title">this was nice in buy</div>
							<div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-sm-3">
							<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
							<div class="review-block-name"><a href="#">nktailor</a></div>
							<div class="review-block-date">January 29, 2016<br/>1 day ago</div>
						</div>
						<div class="col-sm-9">
							<div class="review-block-rate">
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
							</div>
							<div class="review-block-title">this was nice in buy</div>
							<div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-sm-3">
							<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
							<div class="review-block-name"><a href="#">nktailor</a></div>
							<div class="review-block-date">January 29, 2016<br/>1 day ago</div>
						</div>
						<div class="col-sm-9">
							<div class="review-block-rate">
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star checked" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="fa fa-star" aria-hidden="true"></span>
								</button>
							</div>
							<div class="review-block-title">this was nice in buy</div>
							<div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<!-- end test -->
</div>
</div>
</div>	
{% endblock %}